body 
{
    background: #CCCC99;
}
figure {
    display: block;
      position: absolute;
      width: 80%;
      height: 80%;
      left: 10px;
      top: 10px;
      border: 2px solid rgba(   0, 0, 0, 0.8 );
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
      margin: 0;
}
figure:nth-child(1) {
      -webkit-transform: rotateY(   0deg ) translateZ( 288px );
         -moz-transform: rotateY(   0deg ) translateZ( 288px );
              transform: rotateY(   0deg ) translateZ( 288px );
}
figure:nth-child(2) {
  -webkit-transform: rotateY(  90deg ) translateZ( 288px );
     -moz-transform: rotateY(  90deg ) translateZ( 288px );
          transform: rotateY(  90deg ) translateZ( 288px );
}
figure:nth-child(3) {
  -webkit-transform: rotateY(  180deg ) translateZ( 288px );
     -moz-transform: rotateY(  180deg ) translateZ( 288px );
          transform: rotateY(  180deg ) translateZ( 288px );
}
figure:nth-child(4) {
  -webkit-transform: rotateY( 270deg ) translateZ( 288px );
     -moz-transform: rotateY( 270deg ) translateZ( 288px );
          transform: rotateY( 270deg ) translateZ( 288px );
}
.container {
      width: 210px;
      height: 140px;
      position: relative;
      margin: 0 auto 40px;
      border: 1px solid #CCC;
      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
              perspective: 1100px;

    }
#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ( -288px );
     -moz-transform: translateZ( -288px );
          transform: translateZ( -288px );
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
          transition: transform 1s;
    -webkit-animation: rotateInY 10s infinite linear;
    -moz-animation: rotateInY 10s infinite linear;
    animation: rotateInY 10s infinite linear;
}
@keyframes rotateInY {
0%   { transform: translateZ(-288px) rotateY(0deg);   }
100% { transform: translateZ(-288px) rotateY(360deg);    }
}

@-webkit-keyframes rotateInY {
0%   { -webkit-transform: -webkit-translateZ(-288px) rotateY(0deg);   }
100% { -webkit-transform: -webkit-translateZ(-288px) rotateY(360deg);    }
}

@-moz-keyframes rotateInY {
0%   { -moz-transform: -moz-translateZ(-288px) rotateY(0deg);   }
100% { -moz-transform: -moz-translateZ(-288px) rotateY(360deg);    }
}
nav
{
    -webkit-border-radius:10px; /*chrome  Safari*/
    -moz-border-radius:10px;/* Firefox*/
    -o-border-radius:10px;/*Opera*/
    border-radius:10px;/*estandar*/

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*chrome  Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #CCC);/*Opera*/
    background-image: linear-gradient(top, #FFF, #CCC);/*estandar*/

    overflow:hidden; /*visible hidden scroll auto*/
    padding:10px;
    width:950px;
}


nav ul{
    list-style:none; /* disc circle square decimal decimal-leading-zero lower-roman none */
    margin:0 10px 0 10px;
    padding:0;
}


nav ul li{
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/

    float:left; /* posiciona los elementos de forma flotante */
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    text-shadow: 0px 1px 0px #FFF;
}

nav ul li:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);
    background-image: linear-gradient(top, #FFF, #E3E3E3);

    -webkit-box-shadow:  1px -1px 0px #999;
    -moz-box-shadow:  1px -1px 0px #999;
    -o-box-shadow:  1px -1px 0px #999;
    box-shadow:  5px -5px 0px #999;
    border:1px solid #E3E3E3;
} 

nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
header 
{
    display: block; 
    text-decoration: underline;
    font: 70px Helvetica, Arial, Sans-Serif; 
    letter-spacing: -5px;  
    text-align: center;
    color:  #99CCCC; 
    text-shadow: 0px 3px 8px #2a2a2a;
}


